@import url(estilos/header.css);

:root{
    --cor-de-fundo: #EBECEE;
    --branco: #FFF;
    --amarelo: #fecd2f;
    --roxo: #C75EEB;      
    --fonte-roboto: 'Roboto', sans-serif;;
    --fonte-principal: 'Poppins', sans-serif; 
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;

}


    background-color: white;
}