.cabecalho {
  background-color: var(--branco);
  display: flex;
  justify-content: space-between;  

  align-items: center;
  position: relative;
}

.cabecalho__menu {
  display: inline-block;
  background-image: url(../img/Menu.svg);
  background-repeat: no-repeat;
  background-position: center;  
  width: 24px;
  height: 24px;
}

.contaner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

conteiner__imagem{
  padding: 1em;
}
.lista__menu{
  display: none;
  background-color: var(--branco);
  position: absolute;
  top:100%;
  width: 60vw;
}

.container__botao {
  display: none;
}

.lista__menu-titulo {
  font-weight: 700;
  color: var(--amarelo);
  padding: 1em 0 0 0.5em;
  -webkit-text-stroke-width: 0.15px;
  -webkit-text-stroke-color: #777777;
}

.container__image {
  padding: 1em;
}

.lista__menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
  background-color: var(--branco);
  border-radius: 0 0 10px 0px;
}

.lista__menu-item {
  padding: 1em;
}

.lista__menu-link {
  color: var(--roxo); 
  font-weight: 500; 
  text-decoration: none;
}

.container__botao:checked~.lista__menu {
  display: block;
}
.container__titulo{
  display: none;
}
@media screen and (min-width:1024px) {
    
  .cabecalho__menu{
      display: none;
  }
  .conteiner__favorito{
      display: none;
  }
  .conteiner__titulo{
      display: block;
  }

}